name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/molodostclub/molodost-frontend:latest
                  build-args: |
                      NEXT_PUBLIC_BASE_URL=https://admin.molodost.club

            - name: Deploy frontend via SSH
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{ secrets.SERVER_IP }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  password: ${{ secrets.SERVER_PASSWORD }}
                  script: |
                      echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
                      docker pull ghcr.io/molodostclub/molodost-frontend:latest

                      # Остановить и удалить старый контейнер
                      docker stop molodost_frontend || true
                      docker rm molodost_frontend || true

                      # Убедиться, что сеть существует
                      docker network create molodost_net || true

                      # Запустить новый контейнер с ограничениями ресурсов для предотвращения высокого CPU
                      docker run -d \
                        --name molodost_frontend \
                        --network molodost_net \
                        -p 3000:3000 \
                        --memory="768m" \
                        --memory-swap="768m" \
                        --cpus="1.0" \
                        --restart unless-stopped \
                        -e NEXT_PUBLIC_BASE_URL="https://admin.molodost.club" \
                        -e BACKEND_URL="http://molodost-backend:1337" \
                        -e NODE_OPTIONS="--max-old-space-size=600" \
                        ghcr.io/molodostclub/molodost-frontend:latest
